@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Lato&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }
  
  .font-exo {
    font-family: 'Exo 2', sans-serif;
  }
  
  .font-lato {
    font-family: 'Lato', sans-serif;
  }


.content-section {
  @apply bg-black bg-opacity-0 p-[15px] rounded-lg max-w-5xl w-full mx-4;
}

.section-heading {
  @apply text-4xl font-exo mb-8 italic text-white text-shadow-[0_4px_8px_rgba(0,0,0,0.5)];
}

.gp-section {
  @apply relative py-32 bg-black bg-opacity-100;
}

.feature-section {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.feature-section-inner {
  @apply bg-gray-800 bg-opacity-90 py-[50px] px-[15px] md:py-[50px] md:px-[40px] rounded-lg;
}

.feature-card {
  @apply flex flex-col justify-center p-6 rounded-lg bg-black bg-opacity-50;
}

/* header two column section */

.header-fullwidth-container {
  @apply w-full bg-black bg-opacity-50 mb-20;
}

.header-section {
  @apply max-w-5xl mx-auto bg-black bg-opacity-0 p-8 rounded-lg w-full mb-0;
}

.header-section-inner {
  @apply grid grid-cols-1 md:grid-cols-2 gap-8;
}

.header-section-left {
  @apply flex flex-col justify-center p-6;
}

.header-section-right {
  @apply flex items-center justify-center pointer-events-auto;
}

.header-section-heading {
  @apply text-4xl font-exo mb-4 italic text-white;
}

.header-button {
  @apply text-white bg-gnomon-blue inline-block px-8 py-4 rounded-full font-lato hover:bg-blue-700 transition;
}

/* repeatable two column section */

.repeatable-section {
  @apply rounded-lg bg-black bg-opacity-50 mb-10;
}

.repeatable-section-inner {
  @apply max-w-screen-xl mx-auto py-[50px] px-[15px] md:py-[50px] md:px-[40px] grid md:grid-cols-2 gap-8;
}

.two-columns-left {
  @apply flex flex-col justify-center px-0;
}

.two-columns-right {
  @apply flex flex-col justify-center items-center px-0;
}

.column-heading {
  @apply text-2xl font-semibold mb-3 text-white;
}

.column-paragraph {
  @apply text-gray-200;
}

.landscape-image {
  @apply w-full h-auto rounded-lg;
}

.portrait-image {
  @apply w-full max-w-[500px] h-auto rounded-lg;
}


/* main header single column layout */

.section-header {
  @apply text-center mb-12 max-w-2xl mx-auto;
}

.one-column-section-inner {
  @apply flex flex-col items-center justify-center text-center py-[50px] px-[15px] md:py-[50px] md:px-[40px] max-w-[850px] mx-auto;
}

.section-paragraph {
  @apply text-gray-200;
}

/* right column with single YouTube video */
.column-video {
 @apply flex items-center justify-center pointer-events-auto;
}

/* right column with media stacked */

.media-stacked-column {
  @apply flex flex-col items-center justify-center pointer-events-auto space-y-5;
}

/* iframe video */

.iframe-video {
  @apply w-full h-64 md:h-80 lg:h-96 rounded-lg;
}

/* sketchfab stacked */
.sketchfab-embed {
 @apply w-full h-[260px] rounded-lg shadow-lg;
}





















/* one column section */

.repeatable-section-inner-one-column {
  @apply max-w-screen-xl mx-auto py-[50px] px-[30px] md:py-[50px] md:px-[40px] flex flex-col gap-8;
}

.one-column {
  @apply flex flex-col justify-center px-0;
}
